body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #333;
}

div {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #4caf50;
    color: #fff;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#receiptForm {
    display: none;
}

#receiptDetailList,
#warehouseDetailList,
#itemListByDateTable {
    margin-top: 10px;
}

#itemListByDate p {
    font-weight: bold;
    margin-bottom: 10px;
}

#itemListByDateTable th {
    background-color: #3498db;
    color: #fff;
}

#warehouseId {
    width: 60%;
}

#warehouseDetailList th {
    background-color: #e67e22;
    color: #fff;
}

#updateProductId,
#updateProductPrice {
    width: 60%;
}

#updateProductPrices button {
    background-color: #3498db;
    color: #fff;
}
